@{
    ViewData["Title"] = "Stock Details";
    StockDetailsModel stockDetailsModel = Model;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.9.0/css/bootstrap-slider.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js"></script>

<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("fullHistory",
            {
                zoomEnabled:true,
                title: {
                    text:  "All Historical Data"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        //console.log("legend click: " + e.dataPointIndex);
                        //console.log(e);
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }

                        e.chart.render();
                    }
                },
                axisX:{
                    intervalType: "day"
                },
                axisY:{
                    maximum: @stockDetailsModel.TwentyYearCandles.ViewMax,
                    minimum: @stockDetailsModel.TwentyYearCandles.ViewMin
                 },
                data: [
                    {
                        type: "candlestick",
                        xValueType: "dateTime",
		                showInLegend: true,
                        name: "Candles",
                        dataPoints: @Html.Raw(stockDetailsModel.TwentyYearCandles.JsonCandleSticks)
                    },
                    {
                        type: "line",
                        showInLegend: true,
                        name: "Closing Price",
                        xValueType: "dateTime",
                        dataPoints: @Html.Raw(stockDetailsModel.TwentyYearCandles.JsonClosingPrice)
                    }
                ]
            });
        var chart2 = new CanvasJS.Chart("fiveYear",
            {
                zoomEnabled:true,
                title: {
                    text:  "Five Year Historical Data"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        //console.log("legend click: " + e.dataPointIndex);
                        //console.log(e);
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }

                        e.chart.render();
                    }
                },
                axisX:{
                    intervalType: "day"
                },
                axisY:{
                    maximum: @stockDetailsModel.FiveYearCandles.ViewMax,
                    minimum: @stockDetailsModel.FiveYearCandles.ViewMin
                 },
                data: [
                    {
                        type: "candlestick",
                        xValueType: "dateTime",
		                showInLegend: true,
                        name: "Candles",
                        dataPoints: @Html.Raw(stockDetailsModel.FiveYearCandles.JsonCandleSticks)
                    },
                    {
                        type: "line",
                        showInLegend: true,
                        xValueType: "dateTime",
                        name: "Closing Price",
                        dataPoints: @Html.Raw(stockDetailsModel.FiveYearCandles.JsonClosingPrice)
                    }
                ]
            });
        var chart3 = new CanvasJS.Chart("oneYear",
            {
                zoomEnabled:true,
                title: {
                    text:  "One Year Historical Data"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        //console.log("legend click: " + e.dataPointIndex);
                        //console.log(e);
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }

                        e.chart.render();
                    }
                },
                axisX:{
                    intervalType: "day"
                },
                axisY:{
                    maximum: @stockDetailsModel.OneYearCandles.ViewMax,
                    minimum: @stockDetailsModel.OneYearCandles.ViewMin
                 },
                data: [
                    {
                        type: "candlestick",
                        xValueType: "dateTime",
		                showInLegend: true,
                        name: "Candles",
                        dataPoints: @Html.Raw(stockDetailsModel.OneYearCandles.JsonCandleSticks)
                    },
                    {
                        type: "line",
                        showInLegend: true,
                        name: "Closing Price",
                        xValueType: "dateTime",
                        dataPoints: @Html.Raw(stockDetailsModel.OneYearCandles.JsonClosingPrice)
                    }
                ]
            });
        var chart4 = new CanvasJS.Chart("sixMonth",
            {
                zoomEnabled:true,
                title: {
                    text:  "Six Month Historical Data"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        //console.log("legend click: " + e.dataPointIndex);
                        //console.log(e);
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }

                        e.chart.render();
                    }
                },
                axisX:{
                    intervalType: "day"
                },
                axisY:{
                    maximum: @stockDetailsModel.SixMonthCandles.ViewMax,
                    minimum: @stockDetailsModel.SixMonthCandles.ViewMin
                 },
                data: [
                    {
                        type: "candlestick",
                        xValueType: "dateTime",
		                showInLegend: true,
                        name: "Candles",
                        dataPoints: @Html.Raw(stockDetailsModel.SixMonthCandles.JsonCandleSticks)
                    },
                    {
                        type: "line",
                        showInLegend: true,
                        name: "Closing Price",
                        xValueType: "dateTime",
                        dataPoints: @Html.Raw(stockDetailsModel.SixMonthCandles.JsonClosingPrice)
                    }
                ]
            });
        var chart5 = new CanvasJS.Chart("oneMonth",
            {
                zoomEnabled:true,
                title: {
                    text:  "One Month Historical Data"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        //console.log("legend click: " + e.dataPointIndex);
                        //console.log(e);
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }

                        e.chart.render();
                    }
                },
                axisX:{
                    intervalType: "day"
                },
                axisY:{
                    maximum: @stockDetailsModel.OneMonthCandles.ViewMax,
                    minimum: @stockDetailsModel.OneMonthCandles.ViewMin
                 },
                data: [
                    {
                        type: "candlestick",
                        xValueType: "dateTime",
		                showInLegend: true,
                        name: "Candles",
                        dataPoints: @Html.Raw(stockDetailsModel.OneMonthCandles.JsonCandleSticks)
                    },
                    {
                        type: "line",
                        showInLegend: true,
                        xValueType: "dateTime",
                        name: "Closing Price",
                        dataPoints: @Html.Raw(stockDetailsModel.OneMonthCandles.JsonClosingPrice)
                    }
                ]
            });
        var chart6 = new CanvasJS.Chart("twoWeeks",
            {
                zoomEnabled:true,
                title: {
                    text:  "Two Week Historical Data"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        //console.log("legend click: " + e.dataPointIndex);
                        //console.log(e);
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        } else {
                            e.dataSeries.visible = true;
                        }

                        e.chart.render();
                    }
                },
                axisX:{
                    intervalType: "day"
                },
                axisY:{
                    maximum: @stockDetailsModel.TwoWeekCandles.ViewMax,
                    minimum: @stockDetailsModel.TwoWeekCandles.ViewMin
                 },
                data: [
                    {
                        type: "candlestick",
                        xValueType: "dateTime",
		                showInLegend: true,
                        name: "Candles",
                        dataPoints: @Html.Raw(stockDetailsModel.TwoWeekCandles.JsonCandleSticks)
                    },
                    {
                        type: "line",
                        showInLegend: true,
                        xValueType: "dateTime",
                        name: "Closing Price",
                        dataPoints: @Html.Raw(stockDetailsModel.TwoWeekCandles.JsonClosingPrice)
                    }
                ]
            });

        chart.render();
        chart2.render();
        chart3.render();
        chart4.render();
        chart5.render();
        chart6.render();

    }


</script>

<body>
    <div class="container">
        <div class="row">
            <div style="margin-right:auto;">
                <h1>@(stockDetailsModel.Symbol + " - " + stockDetailsModel.CompanyName)</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-1">
                <div class="row justify-content-md-center" style="height:100px">
                </div>
                <div class="row justify-content-md-center">
                    <text>@stockDetailsModel.TwentyYearCandles.ViewMax</text>
                </div>

                <div id="slider-range" class="row justify-content-md-center">
                    <input id="ex1"
                           data-slider-id='ex1Slider'
                           type="text"
                           data-slider-min="@stockDetailsModel.TwentyYearCandles.ViewMin"
                           data-slider-max="@stockDetailsModel.TwentyYearCandles.ViewMax"
                           data-slider-step="1"
                           data-slider-value="[@stockDetailsModel.TwentyYearCandles.ViewMin,@stockDetailsModel.TwentyYearCandles.ViewMax]"
                           data-slider-orientation="vertical" />
                    <script type='text/javascript'>
                        $('#ex1').slider({
                            value: [@stockDetailsModel.TwentyYearCandles.ViewMin,@stockDetailsModel.TwentyYearCandles.ViewMax],
                            formatter: function (value) {
                                return 'Current value: ' + value;
                            }
                        });
                    </script>

                </div>
                <div class="row justify-content-md-center">
                    <text>@stockDetailsModel.TwentyYearCandles.ViewMin</text>
                </div>
            </div>
            <div class="col">
                <div>
                    <div id="fullHistory" style="height: 600px; width:100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div id="fiveYear" style="height: 600px; width: 100%;">
        </div>
        <div id="oneYear" style="height: 600px; width: 100%;">
        </div>
        <div id="sixMonth" style="height: 600px; width: 100%;">
        </div>
        <div id="oneMonth" style="height: 600px; width: 100%;">
        </div>
        <div id="twoWeeks" style="height: 600px; width: 100%;">
        </div>*@
</body>
<style>
    #ex1Slider {
        height: 650px;
    }
    #ex1Slider .slider-selection {
        background: #BABABA;
    }
</style>
